DATABASE_URL=postgresql://

NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXTAUTH_SECRET=
SESSION_SECRET=
NEXTAUTH_URL=http://localhost:3000

DUITKU_API_KEY=
DUITKU_MERCHANT_CODE=

NODE_ENV=development
# UBAH KE PRODUCTION JIKA DEPLOY, KARENA AKAN MENGUBAH LINK DUITKU NYA